* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: whitesmoke;

  background-size: cover;
  background-repeat: no-repeat;
}

time {
  font-size: 8rem;
  font-family: "Roboto", "regular 400";
  color: white;
  padding-bottom: 4rem;
}

h1 {
  padding-bottom: 1rem;
  font-size: 2.4rem;
  color: burlywood;
  font-family: "Roboto", "regular 400";
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
}
